In [4]:
import pandas as pd
import numpy as np
from sklearn.feature_extraction.text import CountVectorizer
from sklearn.metrics.pairwise import cosine_similarity

In [7]:
df = pd.read_csv("movies.csv")
df.head()

,name,rating,genre,year,released,score,votes,director,writer,star,country,budget,gross,company,runtime
0,The Shining,R,Drama,1980,"June 13, 1980 (United States)",8.4,927000.0,Stanley Kubrick,Stephen King,Jack Nicholson,United Kingdom,19000000.0,46998772.0,Warner Bros.,146.0
1,The Blue Lagoon,R,Adventure,1980,"July 2, 1980 (United States)",5.8,65000.0,Randal Kleiser,Henry De Vere Stacpoole,Brooke Shields,United States,4500000.0,58853106.0,Columbia Pictures,104.0
2,Star Wars: Episode V - The Empire Strikes Back,PG,Action,1980,"June 20, 1980 (United States)",8.7,1200000.0,Irvin Kershner,Leigh Brackett,Mark Hamill,United States,18000000.0,538375067.0,Lucasfilm,124.0
3,Airplane!,PG,Comedy,1980,"July 2, 1980 (United States)",7.7,221000.0,Jim Abrahams,Jim Abrahams,Robert Hays,United States,3500000.0,83453539.0,Paramount Pictures,88.0
4,Caddyshack,R,Comedy,1980,"July 25, 1980 (United States)",7.3,108000.0,Harold Ramis,Brian Doyle-Murray,Chevy Chase,United States,6000000.0,39846344.0,Orion Pictures,98.0

In [11]:
df['score'] = str(df['score'])

In [12]:
# features = ['score','star','genre','director']

In [79]:
features = ['star','genre','director']

In [13]:
# def combine_features(row):
#     return row['score']+" "+row['star']+" "+row['genre']+" "+row['director']

In [80]:
def combine_features(row):
    return row['star']+" "+row['genre']+" "+row['director']

In [81]:
for feature in features:
    df[feature] = df[feature].fillna('')

df["combined_features"] = df.apply(combine_features,axis=1)

In [82]:
df.iloc[0].combined_features

'Jack Nicholson Drama Stanley Kubrick'

In [83]:
cv = CountVectorizer() 
count_matrix = cv.fit_transform(df["combined_features"])

In [123]:
print(count_matrix)

  (0, 1530)	1
  (0, 2675)	1
  (0, 3148)	1
  (0, 4088)	1
  (0, 5296)	1
  (1, 54)	1
  (1, 779)	1
  (1, 3075)	1
  (1, 4575)	1
  (1, 5111)	1
  (2, 33)	1
  (2, 2309)	1
  (2, 2644)	1
  (2, 3010)	1
  (2, 3608)	1
  (3, 19)	1
  (3, 1114)	1
  (3, 2388)	1
  (3, 2786)	1
  (3, 4711)	1
  (4, 981)	1
  (4, 1005)	1
  (4, 1114)	1
  (4, 2346)	1
  (4, 4562)	1
  :	:
  (7663, 671)	1
  (7663, 1530)	1
  (7663, 1602)	1
  (7663, 2839)	1
  (7663, 5064)	1
  (7664, 1114)	1
  (7664, 1562)	1
  (7664, 1584)	1
  (7664, 3827)	1
  (7664, 4899)	1
  (7665, 1530)	1
  (7665, 3243)	1
  (7665, 4125)	1
  (7665, 4126)	1
  (7665, 4214)	1
  (7666, 1038)	1
  (7666, 1530)	1
  (7666, 2705)	1
  (7666, 4576)	1
  (7666, 4791)	1
  (7667, 2541)	1
  (7667, 3484)	1
  (7667, 3953)	1
  (7667, 4354)	1
  (7667, 5187)	1

In [124]:
cosine_sim = cosine_similarity(count_matrix)

In [125]:
print(cosine_sim)

[[1.  0.  0.  ... 0.2 0.2 0. ]
 [0.  1.  0.  ... 0.  0.  0. ]
 [0.  0.  1.  ... 0.  0.  0. ]
 ...
 [0.2 0.  0.  ... 1.  0.2 0. ]
 [0.2 0.  0.  ... 0.2 1.  0. ]
 [0.  0.  0.  ... 0.  0.  1. ]]

In [28]:
# def get_title_from_index(index):
#     return df[df.index == index]["name"].values[0]
# def get_index_from_title(name):
#     return df[df.name == name]["name"].values[0]

In [126]:
def get_index_from_title(moviename):
    return df[df['name']==moviename].index.values

In [86]:
print(get_index_from_title("The Shining"))

[0]

In [127]:
def get_title_from_index(index):
    return df.iloc[index].get('name')

In [128]:
movie_user_likes = "Ordinary People"
movie_index = get_index_from_title(movie_user_likes)
similar_movies = list(enumerate(cosine_sim[movie_index]))

In [129]:
print(movie_index)

[13]

In [130]:
# print(list(cosine_sim[movie_index]))

for ele in enumerate(cosine_sim[movie_index]):
    print (ele)

(0, array([0.2, 0. , 0. , ..., 0.2, 0.2, 0. ]))

In [95]:
# sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=True)[1:]
# print(sorted_similar_movies)

[]

In [115]:
sorted_similar_movies = sorted(similar_movies,key=lambda x:x[1],reverse=False)
# print(sorted_similar_movies)

In [116]:
i=0
for movies in sorted_similar_movies:
    print(get_title_from_index(movies[0]))
    i=i+1
    if i>5:
        break

The Shining

In [101]:
i=0
print("Top 5 similar movies to "+movie_user_likes+" are:\n")
for element in sorted_similar_movies:
    print(get_title_from_index(element[0]))
    i=i+1
    if i>5:
        break

Top 5 similar movies to Ordinary People are:

The Shining